.TaskModal {
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }

  &__nav {
    display: flex;
    column-gap: 12px;
    align-items: center;

    button {
      flex-shrink: 0;
      flex-basis: 20px;
      svg {
        flex-shrink: 0;
        flex-basis: 20px;
      }
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 800;
    @media (max-width: 800px) {
      font-size: 32px;
    }
  }

  &__createDate {
    padding: 4px 12px;
    border-radius: 15px;
    box-shadow: 0 0 0 2px #000;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__field {
    font-size: 22px;
    font-weight: 500;
  }

  &__comments {

  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {

  }

  &__button {
    padding: 11px 32px;
    border-radius: 10px;
    background-color: var(--dark-purple);
    color: #FFF;
  }
}